
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;

    background-color: #FFF8FB; 
    color: #7A3E86; 

    font-size: 1.2rem;
    display: grid;
    row-gap: 20px; /* Espacio vertical entre secciones */
    grid-template: 
    "heaeder" 100px
    "inicio" 
    "sobre" 
    "productos" 
    "testimonio" 
    "contacto" 
    "footer" 100px;  
    
}

.titleSection{
    color: #7A3E86;
    text-align: center;
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    font-weight: bold; /* Opcional: hace que el texto sea más destacado */
    letter-spacing: 2px; /* Opcional: aumenta el espacio entre las letras para mayor legibilidad */
    font-size: 3rem; /* Puedes ajustar el tamaño según sea necesario */
}

/* Header */
header{
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: #E8D7F1; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: "Dancing Script", cursive;
    grid-area: heaeder;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
nav a img{
    align-items: center;
    width: 180px;
    height: auto;
    transition: transform 0.5s ease;
}
nav a img:hover{
    transform: rotate(-5deg) scale(1.2);
}

nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

nav ul li{
    padding: 8px 15px;     
    background-color: #D4A5E6;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, background-color 0.3s ease;
}

nav ul li a{
    color: #7A3E86;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

nav ul li:hover{
    transform: scale(1.2) rotate(-5grad) ;
    background-color: white; 
}

#inicio{
    grid-area: inicio;
    border-radius: 20px;
    margin: 20px;
    
    background-image: url("img/pastelfondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column; /* Para apilar texto y botón */
    align-items: center; /* Centrado horizontal */
    justify-content: center; /* Centrado vertical */
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); 
}

#inicio p{
    font-weight: bold; 
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
    
}

.buttton-nav {
    text-decoration: none;
    border: #7A3E86 2px dashed;
    border-radius: 5px;
    background-color: #E8D7F1;
    font-family: "Roboto", sans-serif;
    color: #7A3E86;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px 20px; /* Ajusta el tamaño del botón */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Sombra para hacer el botón más visible */
    transition: background-color 0.3s ease, transform 0.2s ease;
    
}

.buttton-nav:hover{
    background-color: #D4B8E1;
    transform: scale(1.2);
}

#sobre{
    border-radius: 20px;
    margin: 50px 200px;
    grid-area: sobre;
    background-color: #E8D7F1;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); 
    font-family: "Roboto", sans-serif;

    
}

#sobre p{
    color: #555555;
    line-height: 1.5;
    text-align: justify;
}

#sobre h2,h3,h4{
    color: #7A3E86;    
}

#sobre h2,h4{
    text-align: center;
}

#sobre img {
    display: block;             /* Elimina el espacio debajo de la imagen */
    margin: 0 auto;             /* Centra la imagen horizontalmente */
    max-width: 100%;            /* Asegura que la imagen no se salga del contenedor */
    height: auto;               /* Mantiene la proporción original de la imagen */
    border-radius: 10px;        /* Bordes redondeados para un estilo más suave */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
    object-fit: cover;          /* Ajusta la imagen al contenedor sin distorsionarla */
}


#productos{
    border-radius: 20px;
    margin: 50px 20px;
    grid-area: productos;
    background-color: #E8D7F1;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); 
    font-family: "Roboto", sans-serif;
    
}
#productos section{
    gap: 50px;  /* Espacio entre los artículos */
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* 3 columnas de ancho igual */
}

#productos section article{
    cursor: pointer;
    width: 400px;
    
    min-height: 500px;
    /* FFF8FB */
    background-color: #FFF8FB;
    padding-top: 20px;
    border-radius: 5px;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

#productos section article div{
    padding: 5px 20px;
}

#productos section article div h4 {
    color: #7A3E86;
    font-style: bold;
    font-size: 1.5rem;
}
#productos section article div p {
    color: #555555;
    line-height: 1.5;
    font-size: 1.3rem;
}

#productos section article img {
    display: block;             /* Elimina el espacio debajo de la imagen */
    margin: 0 auto;             /* Centra la imagen horizontalmente */
    max-width: 90%;            /* Asegura que la imagen no se salga del contenedor */
    height: auto;               /* Mantiene la proporción original de la imagen */
    border-radius: 10px;        /* Bordes redondeados para un estilo más suave */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
    object-fit: cover;          /* Ajusta la imagen al contenedor sin distorsionarla */
}

#productos section article:hover{
    transform: scale(1.1);
    background-color: #F5F5FF;
}


#testimonio{
    border-radius: 20px;
    margin: 50px 20px;
    grid-area: testimonio;
    background-color: #E8D7F1;
    padding: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); 
    font-family: "Roboto", sans-serif;
    
}

#testimonio article{
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    gap: 0px 10px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
    "foto nombre" 
    "foto texto ";
    background-color: #F5F5FF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); 
}

#testimonio article:hover{
    transform: translateY(-5px); /* Eleva el testimonio ligeramente */ box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}

#testimonio article img{
    grid-area: foto;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#testimonio article h4{
    text-align: left;
    grid-area: nombre;
    font-size: 1.6rem;
    margin-top: 0;
    
}

#testimonio article p{
    margin-top: 0px;
    grid-area: texto;
    color: #555555;
    font-size: 1.5rem;
    line-height: 1.5;

}


#contacto{
    background-color: rgba(223, 58, 204, 0.672);
    grid-area: contacto;
}

footer{
    font-family: "Dancing Script", cursive;
    background-color: #E8D7F1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    grid-area: footer;
    color: black;
}

footer a{
    padding: 8px 15px;    
    background-color: #D4A5E6;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: transform 0.5s ease, background-color 0.3s ease;
    

}
footer a:hover{
    transform:  rotate(-5grad) scale(1.2);
    background-color: white;
}

/* 
Lila Pastel: #E8D7F1 – Un tono suave y acogedor para fondos o detalles.
Lavanda: #D4A5E6 – Un morado delicado, ideal para destacar secciones o botones.
Morado Cupcake: #B583C0 – Un tono más intenso y dulce, perfecto para encabezados o elementos llamativos.
Violeta Profundo: #7A3E86 – Para contrastar o agregar profundidad a ciertos elementos.
Blanco Crema: #FFF8FB – Un blanco cálido que complementa perfectamente los tonos morados.
Blanco Suave: #F5F5FF – Un blanco ligeramente frío, ideal como fondo principal.
*/